.register {
  padding-top: 50px;
}

.login {
  width: 500px;
}

.login__title {
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__text {
  text-align: center;
}
